* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .toppage {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
  }
  
  .landingtext > h1 {
    font-size: 3vw;
    font-weight: bold;
  
  }
  
  .mycard {
    font-size: 18px;
    padding: 15px 15px;
   background-color:whitesmoke;
  }
  
  .mybtn {
    padding: 20px 20px;
  
  }
  
  .myform {
    padding: 12px 14px;
    background-image: url("https://bit.ly/3dLBRrh");
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  .footer {
    background-color:burlywood;
    height: 20vh;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    font-style: italic;
  }
